.navbar {
  background-color: rgba(147, 95, 102, 0.8);
  font-size: 18px;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.center {
  margin: 0 auto 0 auto;
}
