.bg-home {
  background-image: url("../images/flowers-light.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* dark banner for mobile view */
.bg-other {
  background-image: url("../images/flowers-dark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home2 {
  margin-top: 14vh;
  font-size: calc(10px + 1vw);
  color: white;
}

.home1 {
  font-size: calc(22px + 2vw);
  color: white;
}

/* light banner for desktop view */
@media only screen and (min-width: 768px) {
  .bg-other {
    background-image: url("../images/flowers-light.jpeg");
  }
}
